header {
  position: relative;
  margin-bottom: 8px;
}

body {
  background-color: #2c2c2c;
}

/* Text Rotate Animation */
html,
body {
  font-family: "Raleway", sans-serif;
  padding: 1em 2em;
  font-size: 18px;
  background: #222;
  color: #ffffff;

  text-align: center;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.4em 0;
  text-wrap: wrap;
}

h1 {
  font-size: 2em;
}

h2 {
  color: #d3d3d3;
  font-size: 1.5em;
}

.txt-rotate {
  margin-bottom: 50px;
}

#real {
  color:red;
}

.container-input {
  position: relative;
  width: 290px; /* Adjust width as needed */
  margin: 0 auto; /* Center horizontally */
  margin-bottom: 20px;
  margin-top: 40px;
}

.input {
  height: 40px;
  width: 250px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #000000;
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
  margin: center;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 300px;
}

[data-user-cards-container] {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

[data-header] {
  position: absolute;
  margin: auto;
  text-align: 50%;
  width: 50%;
  height: 50%;
  top: 0; left: 0; bottom: 0; right: 0;
  text-wrap: wrap;
  font-size: 1em;
}  
.card {
  position: relative;
  width: 190px;
  height: 254px;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 0px;
  margin-top: 30px;
}

.card:hover {
  transform: translateY(-20px);
}

.card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, var(--color1), var(--color2));
  border-radius: 1.2em;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, var(--color1), var(--color2));
  filter: blur(30px);
}

.card span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-radius: 1em;
}

.card span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px 0 0 20px; /* top-left radius, top-right radius, bottom-right radius, bottom-left radius */
}

.card .content {
  position: relative;
  padding: 10px;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1.5em;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-left: -5%;
  text-align: 50%;
  text-wrap: wrap;
  font-size: 1em;
}

.card a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  border-radius: 20px;
}

.hide {
  display: none;
}

/* Text Rotate Animation */
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/* Hide the menu initially */
.menu ul {
  display: none;
}

/* Show the menu when the hamburger menu is clicked */
.menu.active ul {
  display: block;
}










@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.container {
  position: relative;
  z-index: 5;
}
.nav-bar {
  position: absolute;
  top: 70px;
  left: -25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-out;
  z-index: 5;
  opacity: 100%;
}
.toggle {
  left: 0;

  z-index: 5;

}
.toggle-menu {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 4rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  z-index: 5;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.line {
  width: 100%;
  height: 4px;
  border-radius:5px;
  background-color: #fff;
  transition: 0.2s ease-out;
}
.toggle .line1 {
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}
.toggle .line2 {
  display: none;
}
.toggle .line3 {
  transform: scale(0.8) rotateZ(45deg) translate(-10px, -4px);
}

.toggle .toggle-menu {
 /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.nav-list {
  list-style: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 5;
}
.nav-list-item {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  height: 100%;
}
.nav-link {
  color: #fff;
  font-size: 2.2rem;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.4rem;
  width: 100%;
  height: 100%;
}
.nav-link::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transition: 0.4s ease-in-out;
  transform-origin: left;
}
.nav-link:hover::before {
  transform: scaleX(1);
}